<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <div>
            <div class="card" style="margin-top: 10px" *ngFor="let post of posts ;">
                <div class="card-header bg-primary">{{post.title}}</div>
                <div class="card-body bg-light" [innerHTML]="post.body"></div>
                <div class="card-footer bg-info">By {{post.author}}</div>
            </div>
        </div>
    </div>
</div>
